<p id="notice"><%= notice %></p>

<p>
  <strong>Citation:</strong>
  <%= @entry.citation %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @entry.annotation %>
</p>

<p>
  <strong>Bibliography:</strong>
  <%= @entry.bibliography %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
