<div class="page-header">
  <h2>Student Bibliographies</h2>
</div>

<h3><%= @student.nickname %></h3>

<% if @student.bibliographies.count > 0 %>
<table class="table">
  <thead>
    <tr>
      <th>Bibliography List</th>
    </tr>
  </thead>

  <tbody>
    <% @student.bibliographies.each do |bibliography| %>
      <% if bibliography.course_id == @course.id %>
      <tr>
        <td>
          <%= link_to 'View', edit_student_bibliography_path(@student, bibliography), class: 'btn btn-small btn-primary' %> |
          <%# <%= link_to 'X', '#', method: :delete, data: { confirm: 'Are you sure you wish to delete this bibliography? All of your information will be permanently lost.' }, class: 'btn btn-small btn-danger' %>
          <%= link_to 'X', '#', class: 'btn btn-small btn-danger' %> |
          <%= bibliography.title %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>The student has not created a bibliography for this course.</p>
<% end %>
