<div class="page-header">
  <h2>Course Detail: <%= @course.title %></h2>
</div>

<div class="well">
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Password:</strong>
  <%= @course.password %>
</p>

<%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-small btn-primary' %> |
<%= link_to 'Go Back to Main Page', root_url %>

</div>

<h2>Students</h2>

<table class="table">
  <thead>
    <th>
      Nickname
    </th>
    <th>
      # of Bibliographies
    </th>
  </thead>
  <% @course.members.each do |member| %>
    <tr>
      <td>
        <%= link_to member.nickname, student_bibliographies_path(member, @course.id)  %>
      </td>
      <td>
        <%= Bibliography.where(user_id: member.id, course_id: @course.id).count %>
      </td>
    </tr>
  <% end %>
</table>
