<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bibliography.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @bibliography.user_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @bibliography.course_id %>
</p>

<%= link_to 'Edit', edit_course_bibliography_path(@course, @bibliography) %> |
<%= link_to 'Back', course_bibliographies_path %>
